.div-margin{
	text-align: center;
	margin-top:30px;
}
.md-6-margin{
     text-align: center;
     margin-top:50px;
}
.profile-content{
	font-weight: 600;
	color:grey;

}
.education-margin{
	text-align: start;
    font-weight: 700;
    font-size: 13px;
    margin-left: 120px;
    color: #626262e0;
}
.h4-font{
	color: #948c8c;
    font-weight: 500;
    font-family: Calibri;
    font-size: 25px;
    display: contents;
}
.h1-font{
    font-size: 34px;
    font-weight: 800;
    font-family: Times New Roman;

}
.profile-icon{
  display: inline-block;
    border-radius: 63px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 18px;

}
.vertical-line{
	width:1px;
	height:70em;
	background-color: silver;
	margin-top: 25px;
	margin-bottom: 55px;
}
.horizontal-line{
	width: 40%;
    background-color: black;
    height: 1px;
}
.img-icon{
	display: inline-block;
    border-radius: 63px;
    box-shadow: 0px 0px 5px 0px #888;
}
.contact-p{
	text-align: left;
    font-family: auto;
    color: slategrey;
    font-weight: 500;
    display: block;
}
.contact-margin {
    text-align: start;
    font-weight: 700;
    font-size: 13px;
    margin-left: 20px;
    color: #626262e0;
}

.bg-section{
       background-color: whitesmoke;
}
.p-font{
	color: #17a2b8;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}